*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #eeebeb60;
}
.head{
    width: 1800px;
    margin-left: 20px;
    line-height: 54px;
    height: 65px;
    background-color:#ffffff;
}

h1{
    display: inline;
    vertical-align: top;
}


.container{
    width: 1000px;
    height: 800px;
    margin-right: 220px;
    margin-left: 220px;
    margin-top: 60px;
    background-color:#ffffff;
    border: white solid;
    border-radius: 10px;
}


.container2{
    padding: 30px 40px 10px 50px;
}

.task{
    background-color: rgb(16, 162, 241);
    border: 2px solid rgb(16, 162, 241);
    border-radius: 3px;
    margin-right: 5px;
    color: #ffffff;
}

.selection{
    border: 2px solid #706969;
    border-radius: 3px;
    color: #706969;
}


ul{
    padding: 20px 10px;
    list-style-type: none;

}

small{
    border: 1px solid;
    border-radius: 7px;
    padding: 3px;
    color:white;
}

.blu{
    background-color:rgb(16, 162, 241);
    border-color: rgb(16, 162, 241);
}

a{
    display: inline-grid;
    border: 1px solid;
    width: 23px;
    height: 23px;
    font-size: 21px;
    padding: 4px;
    border-radius: 50%;
    color: green;
    align-content: center;
}

.pointer{
    font-size: 15px;
    display: inline-block;
}