*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.head{
    width: 1800px;
    margin-left: 20px;
    line-height: 54px;
    height: 54px;
}

h1{
    display: inline;
    vertical-align: top;
}


.container{
    width: 1000px;
    height: 800px;
    margin-right: 220px;
    margin-left: 220px;
    margin-top: 60px;
    background-color:#aba0a0
}


.container2{
    padding: 20px 80px 10px 80px;
}

.task{
    background-color: skyblue;
    border: 2px solid skyblue;
    border-radius: 4%;
    margin-right: 5px;
}

.selection{
    border: 2px solid #706969;
    border-radius: 4%;
    color: #706969;
}

